extends ../partials/head
block content
  .all-wrapper
    .general-form-outer-wrapper
        .general-form-left-column
        .general-form-right-column
          form.general-form-wrapper#form
            .general-title Şifremi Unuttum
            a.lost-password-link(href='/auth/login') Geri Dön
            input.general-text-input#email-input(type='email' placeholder='Lütfen e-posta adresinizi yazın' autofocus autocomplete='none')
            .general-form-button-wrapper
              button.general-form-button Şifreyi Sıfırla
            .general-form-error#error
