extends ../partials/header
block main
  .general-title Kullanıcı Ayarları
  .general-bread-cramp-wrapper
    a.general-each-bread-cramp-item(href='/') Ana Sayfa
    .general-each-bread-cramp-arrow >
    .general-each-bread-cramp-item-last Şifreyi Değiştir
  .general-form-outer-wrapper
    .general-form-wrapper
      .general-form-input-title.general-form-input-title-required E-Posta Adresi
      .general-text-input-small-not-allowed=user.email
      .general-form-input-title.general-form-input-title-required Eski Şifreniz
      input.general-text-input-small#old-password-input(type='password' placeholder='Eski Şifreniz')
      .general-form-input-title.general-form-input-title-required Yeni Şifreniz
      input.general-text-input-small#password-input(type='password' placeholder='Yeni Şifreniz (En az 8 karakterli olmalıdır.)')
      .general-form-input-title.general-form-input-title-required Şifre Tekrarı
      input.general-text-input-small#confirm-password-input(type='password' placeholder='Yeni Şifre Tekrarı')
      .general-form-button-wrapper
        a.general-form-back-button(href='/') Vazgeç
        .general-form-button#save-button Kaydet
      .general-form-error#error
      